	<style>
		.flerx 
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
			height: 500px;
			align-items: center;
			border-style: 1px solid red;
			background-color: #100000;
		}
		.bio
		{
			vertical-align:top;
			border-style: solid;
			display:inline-block;
			text-align: center;
			justify-content: center;
			
			height: 500px;
			max-width: 340px;
			width: 31%;
			margin-top: 20px;
			padding-bottom: 10px;
			min-height: 400px;
			background-color: #100000;
			color: #eeeeee;
			font-size: 12px;
			
		}
		.bioText
		{
			border-bottom: solid;
			text-align: center;
			justify-content: center;
			background-color: #000000;
			color: #eeeeee;
			font-size: 12px;
			min-height: 120px;
		}
		.bioName
		{
			margin-top: 300px;
			color: #eeeeee;
			min-height: 30px;
			font-size: 14px;
			background-color: #000000;
			border-bottom: 1px solid red;
			text-align: center;
			justify-content: center;
		}
		body 
		{
			background-color: black;
		}
.tint {
  position: relative;
  float: left;
  cursor: pointer;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(212,175,55, 0.5);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.tint:hover:before {
  background: none;
}
	</style>